.movies-card-list {
  padding-top: 80px;
  padding-bottom: 80px;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, 364px);
  gap: 30px 24px;
}

.movies-card-list__empty-search-resalt {
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 18px;
  text-align: center;
  padding: 0;
  margin: 0;
}

@media screen and (max-width: 1279px) {
  .movies-card-list {
    grid-template-columns: repeat(3, 1fr);
    gap: 36px 30px;
  }
}

@media screen and (max-width: 768px) {
  .movies-card-list {
    grid-template-columns: repeat(2, 1fr);
    gap: 36px 30px;
  }
}

@media screen and (max-width: 480px) {
  .movies-card-list {
    padding-top: 50px;
    grid-template-columns: repeat(auto-fit, 300px);
    gap: 16px;
    justify-content: center;
  }
}