.not-found {
  width: 100vw;
  min-height: 100vh;
  padding-top: 246px;
  padding-bottom: 60px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.not-found__code {
  margin: 0;
  font-weight: 400;
  font-size: 140px;
  line-height: 169px;
}

.not-found__message {
  margin: 5px 0 184px;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
}

.not-found__button {
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  color: #4285F4;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.not-found__button:hover {
  opacity: 0.7;
}

@media screen and (max-width: 600px) {
  .not-found__code {
    font-size: 80px;
    line-height: 97px;
  }

  .not-found__message {
    margin: 10px 0 284px;
    font-size: 12px;
    line-height: 15px;
  }

  .not-found__button {
    font-size: 12px;
    line-height: 15px;
  }

  .not-found {
    padding-top: 329px;
    padding-bottom: 30px;
  }
}