.navigation {
  display: flex;
  align-items: center;
}

.navigation__container_type_loged-in {
  display: flex;
  justify-content: space-between;
  width: 100%;
  max-width: 1058px;
}

.navigation__link-list {
  width: 212px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navigation__link-loged-in {
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 18px;
}

.navigation__link-loged-in_active {
  font-weight: 500;
}

.navigation__link-loged-in:hover {
  opacity: 0.7;
}

.navigation__linkloged-in_type_account {
  font-size: 14px;
  line-height: 16px;
  font-weight: 500;
  padding: 8px 20px;
  border-radius: 20px;
  background-color: #313131;
}

.navigation__linkloged-in_type_account:hover {
  opacity: 0.8;
}

.navigation__container_type_loged-out {
  justify-content: flex-end;
}

.navigation__link-loged-out {
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  margin-right: 30px;
}

.navigation__link-loged-out:hover {
  opacity: 0.7;
}

.navigation__button-signin {
  font-size: 12px;
  line-height: 16px;
  font-weight: 500;
  color: #000;
  padding: 8px 20px;
  border-radius: 3px;
  background-color: #3DDC84;
}

.navigation__button-signin:hover {
  opacity: 0.8;
}

@media screen and (max-width: 560px) {
  .navigation__link-loged-out {
    margin-right: 14px;
    font-size: 10px;
  }

  .navigation__button-signin {
    font-size: 10px;
    padding: 5px 12px;
  }
}

